:root {
  --themePrimary: #000;
  --themeSecondary: #fff;
  --themeHelper: #303030;
  --primaryColor: #ff206e;
  --primaryHelper: #ff4f8c;
}

@font-face {
  font-family: 'Tanha-FD';
  src: url('/static/fonts/Tanha-FD.eot');
  src: url('/static/fonts/Tanha-FD.eot?#iefix') format('FontName-opentype'),
       url('/static/fonts/Tanha-FD.woff') format('woff'),
       url('/static/fonts/Tanha-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Tanha-FD';
  color: var(--themePrimary);
  overflow-wrap: break-word !important;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.no-scroll {
  overflow: hidden; 
}
main{
  flex: 1;
  
}

html {
  font-size: 125% !important;
}

body {
  background-color: var(--themeSecondary);
}

a {
  text-decoration: none;
  user-select: none;
}

button {
  background-color: transparent;
  border: 0;
}

.form {
  height: fit-content;
  width: fit-content;
}

.input {
  margin-bottom: 1rem;
  border: 0px;
  height: 2rem;
  width: 16rem;
  text-align: center;
  display: block;
  color: var(--themePrimary);
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid var(--themePrimary);
  border-radius: 13px;
  transition: 0.4s;
}

.centeredHorizontally {
  margin-left: auto;
  margin-right: auto;
}

.input:focus {
  outline: none;
  border-color: var(--primaryColor);
}

.btn {
  border-radius: 2rem;
  border: 0px;
  transition: 0.25s;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  margin: 0rem 0.25rem;
}

.btnPrimary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--themeSecondary);
  background-color: var(--themePrimary);
}

.btnLink {
  background: #333;
  color: #fff;
  padding: 11px;
  border-radius: 13px;
}

.btnPrimary:hover {
  background-color: var(--themeHelper);
}

.btnLink:hover {
  border: 1px solid #333;
  background: #fff;
  color: #333;
  border-radius: 5px;
}

.textPrimary {
  color: var(--primaryColor);
  transition: 0.25s;
}

.errorMessage,
.formPost {
  text-align: center;
  margin-top: 6rem;
}

.textCenter {
  text-align: center;
}

.goBackToAdmin {
  position: fixed;
  bottom: 0px;
  left: 0px;
}


@media screen and (max-width: 600px) {
  body {
    max-width: 100% !important;
  }
}

.slide-left {
	-webkit-animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000)  forwards;
	        animation: scale-up-ver-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000)  forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-18 0:2:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

.slide-top {
	-webkit-animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-18 0:28:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-18 0:35:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-18 0:38:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-top-wel {
	-webkit-animation: slide-top-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-top-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-18 0:28:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top-wel {
  0% {
    -webkit-transform: translate(-50%,100%);
            transform: translate(-50%,100%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}
@keyframes slide-top-wel {
  0% {
    -webkit-transform: translate(-50%,100%);
            transform: translate(-50%,100%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.slide-left-wel {
	-webkit-animation: slide-left-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-left-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
 @-webkit-keyframes slide-left-wel {
  0% {
    -webkit-transform: translate(100%,-50%);
            transform: translate(100%,-50%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}
@keyframes slide-left-wel {
  0% {
    -webkit-transform: translate(100%,-50%);
            transform: translate(100%,-50%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.slide-right-wel {
	-webkit-animation: slide-right-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-right-wel 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
 @-webkit-keyframes slide-right-wel {
  0% {
    -webkit-transform: translate(-200%,-50%);
            transform: translate(-200%,-50%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}
@keyframes slide-right-wel {
  0% {
    -webkit-transform: translate(-200%,-50%);
            transform: translate(-200%,-50%);
  }
  100% {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}