{% extends 'base.html'%}
{% block title %}ورود به حساب کاربری{% endblock %} 
{% block link %}
  <link rel="stylesheet"href="{{ url_for('static', filename='css/submit.css') }}" />
  <!-- RDF-like metadata using JSON-LD -->
  <script type="application/ld+json">
    {{ rdf_data|tojson|safe }}
</script>
{% endblock %}
{% block body %}
  <div class="container slide-right-wel" id="submit">
    <h1>ورود به حساب کاربری</h1>
    <form role="form" aria-labelledby="form-heading" method="post">
      <fieldset class="formLogin" style="border: none;">
      <input type="text" name="userName" placeholder="نام کاربری" />
      <input type="password" name="password" placeholder="رمز عبور"/>
      <button type="submit" class="submitBtn">ورود</button>
      <a href="{{ url_for('login_github_acc') }}" id="passwordReset">ورود با حساب گیت هاب</a>
      </fieldset>
    </form>
  </div>
{% endblock body %}
